<h2>{{model.name}} - {{model.location}}</h2>

<table>
  <thead>
    <tr>
      <th>PO Number</th>
      <th>Sale Date</th>
      <th>Sale Price</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.sales as |record|}}
      <tr>
        <td>{{record.id}}</td>
        <td>{{record.saleDate}}</td>
        <td>{{record.price}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<form {{action saveSale model newSale on="submit"}}>
  <h3>Record New Sale</h3>

  {{input value=newSale.saleDate type="date" placeholder="Sale Date"}}
  {{input value=newSale.price type="number" placeholder="Sale Price"}}

  <button>Submit</button>
</form>
